@import url("https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@600&display=swap");

:root {
  --bg-color: #fff;
  --text-color: #636e72;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  text-align: center;
  font-family: "Poppins", sans-serif;
}


.header-heading {
  font-family: "Lora", serif;
  font-size: larger;
}
.header-heading h1 {
  font-family: "Poppins", sans-serif;
}

.header-heading img {
  margin: 1.5rem;
  max-width: 600px;
}

.content {
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border-color: var(--text-color);
}

.heading {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  max-width: 400px;
  display: block;
  margin: auto;
  padding-top: 1rem;
}

@media screen and (max-width: 800px) {
  body {
    margin: 1rem;
  }
  .header-heading img {
    margin: 3rem;
    max-width: 250px;
    box-shadow: none;
  }
  .heading {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    max-width: 400px;
    display: block;
    margin: auto;
    padding-top: 1rem;
  }
  .content {
    border: none;
  }
}

#bday-input {
  padding: 1rem;
  margin: 1rem;
  font-family: "Lora", serif;
  border-color: var(--text-color);
  color: var(--text-color);
}

#check-btn {
  padding: 1rem;
  margin: 1rem;
  font-family: "Lora", serif;
  border-color: var(--text-color);
  color: var(--text-color);
  background-color: #ced6e0;
  font-weight: bold;
  font-size: medium;
}

#result {
  font-family: "Lora", serif;
  font-size: larger;
  max-width: 400px;
  text-align: center;
  display: none;
  margin: auto;
  border: 2px solid;
  border-color: var(--text-color);
  padding: 0.5rem;
}

#loader {
  display: none;
}

#loader img {
  max-width: 100px;
  padding-top: 1rem;
}
.about {
  font-family: "Lora", serif;
  font-size: medium;
  max-width: 60%;
  margin: auto;
  margin-top: 2rem;
}

.another-link {
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-family: "Lora", serif;
  font-size: large;
  padding: 1rem;
  max-width: 400px;
  background-color: var(--text-color);
  color: whitesmoke;
}
.another-link a {
  text-decoration: none;
  color: var(--bg-color);
}

footer {
  padding-top: 1rem;
  font-size: large;
  border: 1px solid;
  border-color: var(--text-color);
  border-left: 0;
  border-right: 0;
  text-align: center;
  font-family: "Lora", serif;
}
footer ul {
  padding: 0;
  list-style: none;
  text-align: center;
}
footer ul li {
  display: inline;
  padding: 1rem;
  font-weight: bold;
  margin: auto;
}
footer li a {
  text-decoration: none;
  color: var(--text-color);
}


